.offer-container {
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    padding-top: 0.5rem;
}

.offer-tab {
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5rem;
    padding-bottom: 2rem;
}

.offer-profile-driver {
    position: relative;
    display: inline-block;
}

.offer-profile-driver i {
    position: absolute;
    bottom: 40px;
    left: 48px;
    font-size: 1.3rem;
    border-radius: 50%;
    color: #FFC30F;
}

.p-circle-image {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 4rem; 
    height: 4rem;
    background-color: #ddd;
    border-radius: 50%; 
}

.offer-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.offer-detail h1 {
    font-size: 20px !important;
    margin: 0;
    font-weight: bold;
    color: #0dc964;
}

.offer-detail p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.offer-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  /* เปลี่ยนเป็นชิดซ้าย */
    line-height: 2rem;
    padding-left: 0.5rem;  /* เพิ่ม padding ซ้ายถ้าต้องการ */
}

.offer-choose p {
    font-size: 15px;
    font-weight: light;
    line-height: 1rem;
    color: rgb(0, 0, 0);
    margin: 0;
    padding-left: 1.2rem;  /* เพิ่ม padding ซ้ายถ้าต้องการ */
}

.offer-choose .btn {
    width: 80px;
    height: 25px;  /* ปรับความสูง */
    border-color: #0dc964;
    background-color: #0dc964;
    border-radius: 50px;
    padding: 0;
    font-size: 12px;
    color: white;
    align-self: flex-start;  /* ชิดซ้าย */
}

