.call-map {
    flex-grow: 1;
    height: 500px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top: 100px;
    flex-grow: 1;
}

.call-tab {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5000;
}

.two-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 10;
    padding: 0 1rem 0.5rem 1rem;
}

.two-button .nav-link {
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    position: relative;
    text-align: center;
    flex: 1;
}

.two-button .nav-link.active {
    font-weight: bold;
}

.two-button .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

.call-outlet {
    overflow-y: auto;
}

.call-tab::-webkit-scrollbar {
    display: none;
}

.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.call-button .btn {
    width: 15rem;
    border-color: #0dc964;
    background-color: #0dc964;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    color: white;
    z-index: 2000;
}

.offcanvas {
    position: fixed !important;
    top: 68%;
    left: 49% !important;
    transform: translate( -50%) !important;
    width: 402px !important;
    background-color: white !important;
    border-radius: 1.5rem !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
    padding: 0.5rem !important;
    z-index: 1050 !important;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.offcanvas-header .nav-link {
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    position: relative;
    text-align: center;
    flex: 1;
}

.offcanvas-header .nav-link.active {
    font-weight: bold;
}

.offcanvas-header .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

.offcanvas-body::-webkit-scrollbar {
    width: 8px;
}
